* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
    background-color: #DCD6F7;
    font-family: 'Kanit', sans-serif;
}

.container-grid {
    min-height: 95vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, minmax(auto , 100px));
    grid-template-rows: minmax(auto , 120px) repeat(5, minmax(auto , 100px));
      padding : 0px 0.5rem;

}

#b-1,
#b-18 {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.previous,
.current {
    padding: 0px 25px;
}

.previous {
    color: rgba(238, 238, 238, 0.807);
    font-size: 20px;
}

.current {
    color: #EEEE;
    font-size: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

.btn {
  outline: none;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #A6B1E1;
    background-color: rgba(238, 238, 238, 0.71);
    cursor: pointer;
}

.btn:hover {
    background-color: #EEEE;
    transition-duration: 200ms;
}

.end {
    height: auto;
    width: auto;
    padding: 0px 30px;
    font-weight: bold;
}